@* @model IEnumerable<PhongKhamThuCung.Models.EF.UuDai> *@


@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<PhongKhamThuCung.Models.EF.UuDai>



@{
    ViewData["Title"] = "Ưu Đãi";

}


@section naviHeader {
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Admin" class="nav-link ">Trang Chủ</a>
                </li> 
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Admin/UuDai" class="nav-link active"> Ưu Đãi</a>
                </li>
            </ul>
}

<div>
    <form asp-action="index" asp-controller="UuDai" asp-area="Admin">
        <div class="input-group mb-3">
            <input name="TimKiem" value="@ViewBag.TimKiem" type="text" class="form-control" placeholder="Nhập tên Ưu Đãi cần tìm">
            <button class="btn btn-primary">Tìm Kiếm</button>
        </div>
    </form>
</div>

<div class="card container-fluid "> 
    <div class="card-header d-flex ">
        <div>
            <h2 class="card-title">Danh Sách @ViewData["Title"]</h2>
        </div>

        <div class="ms-auto">
            <a href="/Admin/UuDai/Create" class="btn btn-primary">Thêm</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên @ViewData["Title"]</th>
                    <th scope="col">Mô tả @ViewData["Title"]</th>
                    <th scope="col">Giảm Giá (%)</th>
                    <th scope="col">Active</th>
                    <th scope="col">Chức Năng</th>
                </tr>
            </thead>

            @if (Model == null || Model.Count() <= 0)
            {
                        <tr>
                            <td colspan="6">Chưa có @ViewData["Title"]</td>
                        </tr>
            }
            else
            {
                int d = 1;
                foreach (PhongKhamThuCung.Models.EF.UuDai i in Model)
                {
                     <tr id="Dong_ID_@i.MaUuDai">
                        <th data-bs-toggle="modal" data-bs-target="#XemChiTietUuDai_@i.MaUuDai">@d</th>
                        <td data-bs-toggle="modal" data-bs-target="#XemChiTietUuDai_@i.MaUuDai">@i.TenUuDai</td>
                        <td data-bs-toggle="modal" data-bs-target="#XemChiTietUuDai_@i.MaUuDai">@i.MoTa</td>
                        <td data-bs-toggle="modal" data-bs-target="#XemChiTietUuDai_@i.MaUuDai">@i.GiamGia</td>
                        @if (@i.Active == true)
                        {
                            <td class="trangthaiActive" id="active_id_@i.MaUuDai">
                                <i class="fa-regular fa-circle-check text-success hoatdong" id="logo_@i.MaUuDai" data-check="v" data-id="@i.MaUuDai"></i>
                            </td>
                        }
                        else
                        {
                            <td class="trangthaiActive" id="active_id_@i.MaUuDai">
                                <i class="fa-regular fa-circle-xmark text-danger hoatdong" id="logo_@i.MaUuDai" data-check="x" data-id="@i.MaUuDai"></i>
                            </td>
                        }
                        <td>
                                <a  asp-area="Admin"
                                    asp-controller="UuDai"
                                    asp-action="Update"
                                    asp-route-id="@i.MaUuDai"
                                    class="btn btn-success">Sửa</a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#CheckXoaUuDai_@i.MaUuDai">
                                Xóa
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="CheckXoaUuDai_@i.MaUuDai" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông Báo</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-4">ID</div>
                                                <div class="col-8">@i.MaUuDai</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">Tên Ưu Đãi </div>
                                                <div class="col-8">@i.TenUuDai</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">Mô Tả </div>
                                                <div class="col-8">@i.MoTa</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">Giảm Giá</div>
                                                <div class="col-8">@i.GiamGia</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">Hình ảnh </div>
                                                <div class="col-8">
                                                    <img src="@i.HinhAnh" width="310" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                            <button type="button" onclick="XoaUuDai(@i.MaUuDai);" class="btn btn-danger " data-bs-dismiss="modal">Xóa</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    d++;
                    <!-- Modal -->
                    <div class="modal fade" id="XemChiTietUuDai_@i.MaUuDai" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin @ViewData["Title"]</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-4">ID</div>
                                        <div class="col-8">@i.MaUuDai</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Tên Ưu Đãi </div>
                                        <div class="col-8">@i.TenUuDai</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Mô Tả </div>
                                        <div class="col-8">@i.MoTa</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Giảm Giá</div>
                                        <div class="col-8">@i.GiamGia</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Hình ảnh </div>
                                        <div class="col-8">
                                            <img src="@i.HinhAnh" width="310" />
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </table>
    </div>
    <!-- Hiển thị phân trang -->
    <div class=" d-flex justify-content-center  text-center">
        @Html.PagedListPager(Model, Page => Url.Action("Index",
                 new { Page, ViewBag.TimKiem }),
                 new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
    </div>
    <div class="card-footer">

    </div>
</div>

@section Scripts {
            <script>
                function XoaUuDai(id)
                {
                    $.ajax({
                        type :"POST",
                    url: "/Admin/UuDai/Delete",
                        data:{id : id},
                        success : function(rs)
                        {
                            if(rs.success){
                                $("#Dong_ID_"+id).remove();
                                alert("Đã xóa thành công");
                            }
                            else
                            {
                                alert("Lỗi: "+ rs.message);
                            }
                        },
                        erorr : () =>
                        {
                            alert("Lỗi Hệ Thống");
                        }
                    })
                }

                $(document).on("dblclick", ".hoatdong", function () {
                    let id = $(this).attr("data-id");
                    $.ajax({
                        type :"POST",
                        url: "/Admin/UuDai/HoatDong",
                        data:{id : id},
                        success : function(rs)
                        {
                            if(rs.success){
                               let trangthai = $("#logo_"+id).attr("data-check");
                               let s = ``;
                               if(trangthai === 'x')
                               {
                                    s = `<i class="fa-regular fa-circle-check text-success hoatdong" id="logo_`+id+`" data-check="v" data-id="`+id+`"></i>`;
                                    $("#logo_"+id).remove();
                               }
                               else
                               {
                                    s = `<i class="fa-regular fa-circle-xmark text-danger hoatdong" id="logo_`+id+`" data-check="x" data-id="`+id+`"></i>`;
                                    $("#logo_"+id).remove();
                               }
                               $("#active_id_"+id).append(s);
                            }

                            else
                            {
                                alert("Lỗi: "+ rs.message);
                            }
                        },
                        error : () =>
                        {
                            alert("Lỗi Hệ Thống");
                        }
                    })
                });

            </script>
}   